<div class="container m-5">

  <h3> Address </h3>
  <div class="card m-3">
    <div class="card-body">
      <%= @restaurant.address %>

    </div>
  </div>
  <h3> Phone number</h3>
  <div class="card m-3">
    <div class="card-body">
      <%= @restaurant.phone_number %>

    </div>
  </div>

</div>
